header{
	text-align: center;
}
nav{
	background-color: black;
	font-size: 22px;
	text-decoration: none;
}
nav ul{
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: space-around;
}
nav ul li{
	margin: 0px 65px;
	list-style-type: none;
}
a{
	text-decoration: none;
	color: white;
}
section{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
section a{
	color: black;
	text-decoration: none;
}

section p{
	text-align: justify;
}

section img{
	margin-top: 10px;
}

.leftsection{
	width: 20%;
}
.middlesection{
	width: 54%;
}
.rightsection{
	width: 20%;
}

footer{
	text-align: center;
	margin: 15px;
	padding: 5px;
	background-color: black;
}
.fa{
	padding: 10px;
	font-size: 25px;
	margin: 5px 2px;
	border-radius: 50%;
}
@media screen and (max-width: 600px){
	nav ul{
		flex-direction:column;
	}
	nav ul li{
		width: 96%;
		margin: 1%;
		padding: 1%;
	}
	header{
		width: 100%;
	}
	section{
		flex-direction: column;
	}
	section img{
			width: 100%;
		
	}
	.leftsection{
		width: 100%;
	}
	.middlesection{
		width: 100%;
	}
	.rightsection{
		width: 100%;
	}
}