header{
	text-align: center;
}
nav{
	background-color: black;
	font-size: 22px;
	text-decoration: none;
}
nav ul{
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: space-around;
}
nav ul li{
	margin: 0px 65px;
	list-style-type: none;
}
a{
	color: white;
	text-decoration: none;	
}
section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.leftsection{
	border-radius: 15px 50px 5px;
	border: 2px solid black;
	width: 40%;
	padding: 15px;
}
.rightsection{
	border-radius: 15px 50px 5px;
	border: 2px solid black;
	width: 40%;
	padding: 15px;

}
footer{
	text-align: center;
	margin: 15px;
	padding: 5px;
	background-color: black;
}
.fa{
	padding: 10px;
	font-size: 25px;
	margin: 5px 2px;
	border-radius: 50%;
}
@media screen and (max-width: 600px){
	nav ul{
		flex-direction:column;
	}
	nav ul li{
		width:96%;
		margin:1%;
		padding:1%;
	}
	header{
		width:100%;

	}
	section{
		flex-direction: column;
		
	}
	.leftsection{
		width: 90%;

	}
	.rightsection{
		margin-top: 5px;
		width: 90%;
	}
}