header{
	text-align: center;
}
nav{
	background-color: black;
	font-size: 22px;
	text-decoration: none;
}
nav ul{
	display: flex;
	flex-direction: row;
	padding: 5px;
}
nav ul li{
	margin: 0px 65px;
	list-style-type: none;
}
a{
	color: white;
	text-decoration: none;	
}
section{}
.leftsection{
	border-radius: 15px 50px 5px;
	border: 2px solid black;
	display: flex;
	flex-direction: left;
	width: 15px;
	padding: 15%;
}
.rightsection{
	border-radius: 15px 50px 5px;
	border: 2px solid black;
	display: flex;
	flex-direction: right;
	width: 10px;
	padding: 15%;

}
