header{
	text-align: center;
}
nav{
	background-color: black;
	font-size: 22px;
	text-decoration: none;
}
nav ul{
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: space-around;
}
nav ul li{
	margin: 0px 65px;
	list-style-type: none;
}
a{
	text-decoration: none;
	color: white;
}
	
section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
section p{
	text-align: justify;
}
.leftsection{
	background-color: lightgrey;
	width: 45%;
	border: 60px;
	padding: 5px;

}
.rightsection{
	background-color: lightgrey;
	width: 45%;
	border: 60px;
	padding: 5px;
}
footer{
	text-align: center;
	margin: 15px;
	padding: 5px;
	background-color: black;
}
.fa{
	color: white;
	padding: 10px;
	font-size: 25px;
	margin: 5px 2px;
	border-radius: 50%;
}